@use 'variables';
@use 'button';
@use 'blinker';
@use 'button-white';

*,
*::before,
*::after {
    box-sizing: border-box;
}

@mixin basic-padding {
    padding-top: 100px;
}

@mixin centered-content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


body {
    margin: 0;
}

header {
    background-color: variables.$bg-color;
    font-family: variables.$font-style;

    div.navigation-bar {
        @include centered-content;
        padding-top: 10px;

    }
}

main {
    font-family: variables.$font-style;

    div.dark-content-wrapper {
        display: flex;
        flex-direction: column;
        background-color: variables.$bg-color;
        color: variables.$white;

        div.dark-content-item {
            @include basic-padding;
            @include centered-content;
        }

        a.button-link {
            @include button.button;
            @include centered-content;

        }
    }

    div.dark-content-wrapper::after {
        content: '';
        padding-bottom: 60px;
    }

    div.codeacademy-pulse {
        @include centered-content;

        div.pulse-item {
            display: flex;
            flex-direction: column;

            .big-text {
                font-size: 95px;
                font-weight: 700;
            }

            //neveikia last of type

            div.big-text:last-of-type {
                font-size: 72px;
            }

            .big-text:first-of-type::after {
                content: '_';
                @include blinker.blinker;
            }
        }
    }

    div.if-u-can {
        display: flex;
        flex-direction: column;
        background-color: variables.$blue;
        color: variables.$white;

        .if-u-can-item {
            @include centered-content;
        }

        a {
            @include button-white.button-white;
            @include centered-content;
        }

        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }

    div.video {
        display: flex;
        align-content: center;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;

        iframe {
            width: 290px;
            height: 163px;
        }
    }

    div.differences {
        @include centered-content;

        table {
            width: 100%;
            font-size: 9px;
            font-weight: 700;
            border-collapse: collapse;
            margin-bottom: 30px;

            tr {

                border: solid;
                border-width: 1px 0;

                th:nth-child(2) {
                    background-color: variables.$blue;
                    color: variables.$white;
                }

                td {
                    text-align: center;
                    padding: 5px;

                    img {
                        width: 25px;
                        height: 20px;
                    }
                }

                td:first-child {
                    text-align: left;
                }

                td:nth-child(2) {
                    background-color: variables.$blue;
                    color: variables.$white;
                }
            }

            tr:first-child {
                border-top: none;
            }

            tr:last-child {
                border-bottom: none;
            }

            // table-layout: fixed;

        }

    }

    div.lecturers {
        background-color: variables.$bg-color-light;
        display: flex;
        flex-direction: column;

        div.lecturer-item {
            @include centered-content;
            margin-bottom: 20px;
            background-color: variables.$white;
            display: flex;
            flex-direction: column;
            padding: 40px 30px 20px 30px;

            img.profile-pic {
                border-radius: 50%;
                object-fit: cover;
                width: 130px;
                height: 130px;
            }

            .field-of-study {
                font-weight: 600;
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding-top: 10px;
                padding-bottom: 10px;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .lecturer-name {
                font-weight: 600;
                font-size: 30px;
                padding-bottom: 15px;
            }

            .workplace {
                padding-bottom: 15px;
            }

        }

        a.button-blue {
            @include button.button;
            @include centered-content;
            margin-bottom: 20px;
        }

    }

    div.choose-your-path {
        background-color: variables.$blue;
        color: variables.$white;
        margin-bottom: 30px;

        .path-item {
            @include centered-content;

            h3 {
                font-size: 25px;
            }
        }

        img {
            width: 350px;
            height: 231px;
        }

        a {
            @include button-white.button-white;
            @include centered-content;
        }
    }

    div.alumni {
        div.alumni-item {
            @include centered-content;
            background-color: variables.$bg-color;
            color: variables.$white;
            padding: 40px 50px 40px 50px;
            img {
                width: 85px;
                height: 85px;
                border-radius: 50%;
            }

        }
    }

}